@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
body, html { font-family: 'Barlow Semi Condensed', sans-serif; height:100%; }
body{
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  height:100%;
}
#app{ max-width:760px;margin:0 auto;}
.scoreboard { border:2px solid #fff; border-radius:4px; display:flex; align-items:center; justify-content: space-between;  padding:1rem;}
.col { flex:0 0 auto; max-width:50%; }
@media(min-width:767px){

  .col-6{ flex:0 0 50%; max-width:50%; }
  .col-12{ flex:0 0 auto; max-width:100%; }
}
.scoreboard p{ font-size:2.25rem;line-height:2rem;font-size:700;text-transform:uppercase;color:#fff;margin:0;}
.scorecard{ background:#fff; text-align:center; max-width:145px;border-radius:4px;padding:1rem; align-self:flex-end;}
.scorecard h3{ margin:0; font-size:1.25rem;}
.scorecard #wins{ font-size:2.25rem; }

.button_selection{ display:flex; align-items:center; justify-content:space-around;flex-wrap:wrap;}
.button_selection .btn-col{ flex:0 0 50%; max-width:50%;display: flex; justify-content: center; align-items: center;}
.button_selection button.button {  }

button.button, .userSelection { display:block; height:200px; width:200px; border-radius:100%;cursor:pointer;}
button.button.paper, .userSelection.paper{ border:20px solid #5771f2; box-shadow: 1px 6px 0px 3px #2745c0;}
button.scissors, .userSelection.scissors{ border: 20px solid #eba922; box-shadow: 1px 6px 0px 3px #cf941d;}
button.rock, .userSelection.rock{ border: 20px solid #df415d;box-shadow: 1px 6px 0px 3px #b32e46; }
.userSelection { display:flex; align-items: center; justify-content: center; background:#fff; }

/* step 2 */
.step-wrapper{ display:flex; align-items:center; justify-content:space-between;flex-wrap:wrap;text-align:center; }
.step-wrapper * { color:#fff; }
.step-2 .selections{     background: #162240;height: 200px;width: 200px;border-radius: 100%; margin: 0 auto; }
#Computerselected .userSelection.scissors{ background:url(/images/icon-scissors.svg) #FFF center center no-repeat; }
#Computerselected .userSelection.rock{ background:url(/images/icon-rock.svg) #FFF center center no-repeat; }
#Computerselected .userSelection.paper{ background:url(/images/icon-paper.svg) #FFF center center no-repeat; }